<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= pageTitle %></title>
</head>
<body>
    <nav class="navbar">
        <span>TO-DO APP</span>
    </nav>
    <div class="login">
        <form method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" required="true">
            <label for="password">Password:</label>
            <input type="password" name="password" required="true">
            <button id="login">Login</button>
            <p>New User?  <a href="/signup">Signup</a> </p>
        </form>
    </div>
</body>
</html>